<!-- Admission Report after Search page -->
<link rel="stylesheet" href="/css/ad_result.css">
    <div class="search">
    <% if (typeof data !== 'undefined') { %>
        <% if (data.totalData === "No data available for selected course") { %>
            <div>
                <h2><%= data.totalData %></h2>
            </div>
        <% } else { %>
        <div class="date_main">
                <h2 class="total">Total Admission: <%= data.number_of_entries %></h2>
                <h2 class="total">current count in Department: <%= data.number_of_entries_in_dept %></h2>
                <table>                
                    <tr>                        
                            <th>UID</th>
                            <th>Name</th>                                 
                            <th>Token</th>
                 
                    </tr>
                    <% data.totalData.forEach(function(entry) { %>                        
                    <tr>
                        <% if(entry.in_dept == true) {%>
                         <td><%= entry.uid %></td>
                         <td><%= entry.s_name %></td>
                         <td><%= entry.token %></td> 
                        
                         <% } %>
                    </tr>    
                    <% }); %>
                </table>
                <h2>Transferred Students</h2>
                <table>
                    <tr>
                       
                        <th>UID</th>
                        <th>Name</th> 
                        </tr>
                        <% data.totalData.forEach(function(entry) { %>
                            <% if(entry.in_dept == false && entry.cancel == false){ %>
<tr>
                         <td><%= entry.uid %></td>
                         <td><%= entry.s_name %></td>
                        </tr>
                              <% } %>  
                            <% }) %>
                                    
                </table>

                <h2>Cancelled Students</h2>
                <table>
                    <tr>
                       
                        <th>UID</th>
                        <th>Name</th> 
                        </tr>
                        <% data.totalData.forEach(function(entry) { %>
                            <% if(entry.cancel == true){ %>
                        <tr >
                         <td><%= entry.uid %></td>
                         <td><%= entry.s_name %></td>
                        </tr>
                              <% } %>  
                            <% }) %>
                                    
                </table>
        <% } %>
    <% } %>
        </div>
    <div class="date"> 
    <% if (typeof fulldata !== 'undefined') { %>
        <% if (fulldata === 'no data') { %>
            <br>
            <h2>User not Found</h2>
        <% } else { %>
            <div class="date_main">
            <h2 class="total">No of Admission in (<%=date ?date  :"no date" %>): <%= fulldata.length %></h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th> PreviousDepartment</th>
                    <th>CurrentDepartment</th>
                    <th>User Id</th>
                    <th>Token</th>
                    <th>Old Fees</th>
                    <th>Fees</th>
                    <th>Extra</th>
                    <th>Balance</th>
                    <th>Paid</th>
                    <th>Bank Report</th>
                    <!-- <th>Options</th> -->
                </tr>
                <% fulldata.forEach((item,index) => { %>
                    <tr>
                        <% if(true){ %>
                        <td><%= item.s_name ? item.s_name : "no name" %></td>

                        <td><%= item.pcname ? item.pcname : "no name" %></td>
                        <th><%= item.cname ? item.cname : "" %></th>
                        <td><%= item.uid ? item.uid : "no name" %></td>
                        <td><%= item.token ? item.token : " " %></td>
                        <td><%= item.old_fees ? item.old_fees :  "0" %></td>
                        <td><%= item.fees ? item.fees : "" %></td>
                        <td><%= item.extra ? item.extra: ""  %> </td>
                        <td><%= item.balance ? item.balance: "" %></td>
                        <td><%= item.paid ? item.paid : "0" %></td>
                        
                        <!-- <td><button><a href="#">view</a></button></td> -->
                        <% } %>
                    
                        <td><%= bank[index] !== undefined ? bank[index] : "" %></td>
                        
                    </tr>
                   
                <% }); %>
                <tr style="color: red;">
                    <td colspan="10">Total</td>
                   
                    
                    <td style="font-weight: bolder;font-family: cursive;"><%= tot %></td>
                </tr>
                
            </table>
        </div>
        <% } %>
    <% } else { %>
        <!-- <h2>Without data</h2>  -->
    <% } %>
    </div>
</div>
